/* Fonts  */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');





/* Variables */

:root{
    --main-color:#e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange:#ffa500;
    --green-yellow:#cddc39;
    --pink-light:#efa2b4;
    --cyan-light:#aef1ee;
    --white:#ffffff;
    --white-alpha-40:rgba(255,255,255,0.40);
    --white-alpha-25:rgba(255,255,255,0.25);
    --backdrop-filter-blur:blur(5px);
}


/* Global Settings  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::before,
::after{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image:linear-gradient(to bottom right, var(--pink-light), var(--cyan-light));
    background-attachment: fixed;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color:transparent;
    padding: 35px 15px;
}


body::before{
    content: '';
    position:fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green-yellow);
    z-index: -1;
    opacity: 0.12;
}
a{
    text-decoration: none;
}

h1,h2{
    font-weight: 600;
}
h3,h4,h5,h6{
    font-weight: 500;
}

.hide-scrolling::-webkit-scrollbar{
    display: none;
}

.error{
    font-size: 13px;
    position: absolute;
    top: 55px;
    left: 20px;
    color: #e74c3c;
}

.message{
    font-size: 13px;
    position: absolute;
    top: 125px;
    left: 20px;
    color: #e74c3c;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

section{
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: calc(100vh - 70px);
    border-radius: 30px;
    backdrop-filter:var(--backdrop-filter-blur) ;
    display: none;
}

section.active{
    display: block;
    animation:fadeIn 0.5s ease-in-out forwards;

}
section.fade-out{
    animation:fadeOut 0.5s ease-in-out forwards;
}



.main{
    max-width: 1200px;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.container{
    padding: 0 40px;
    width: 100%;
}


.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.hidden{
    display: none !important;
}
.sec-padding
{
    padding: 80px 0;
}

.flex-end{
    justify-content: flex-end;
}

/* Section Title  */

.section-title{
    padding: 0 15px;
    width: 100%;
    text-align: center;
}

.section-title h2{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 40px;
}


/* Custom Scroll Bar  */
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: var(--white);
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

/* Button */

button{
    font-family: inherit;
    user-select: none;
}

.btn{
    line-height: 1.5;
    background-color:var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    font-style: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease; 

}

.btn::before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease; 
}

.btn:hover::before{
    width: 100%;
}
.btn:hover{
    color: var(--white);
}


/* Animations  */

 @keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
 }

 @keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
 }



 @keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
 }


/* Header  */

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 20px 0 0 ;
}


 
.header.active .container{
   
    max-width: 1200px;
    margin: auto;
}

.header .nav-toggler{
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    z-index: 1;
}

.header .nav-toggler span{
    height: 2px;
    width: 24px;
    background-color: var(--main-color);
    position: relative;
    transition: background-color 0.3s ease;
}

.header.active .nav-toggler span{
    background-color: transparent;
}





.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.3s;
}

.header .nav-toggler span::before{
    left: 0;
    transform: translateY(-8px);
}
.header.active .nav-toggler span::before{
    transform: rotate(45deg);
}

.header .nav-toggler span::after{
    right: 0;
    transform: translateY(8px);
}

.header.active .nav-toggler span::after{
    transform: rotate(-45deg);
}


.header:not(.active) .nav-toggler span:hover::before,
.header:not(.active) .nav-toggler span:hover::after{
    width: 50%;
}


.header .nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 35px 15px;
    overflow-y: auto;
    visibility: hidden;
   
}

.header.active .nav{
    visibility: visible;

}

.header .nav-inner{
    min-height: calc(100vh - 70px);
    max-width: 1200px;
    margin: auto;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter-blur);
    padding: 50px 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.header.active .nav-inner{
    opacity: 1;
}


.header .nav-inner ul{
    list-style: none;
}
.header .nav-inner ul li{
    text-align: center;
}
.header .nav-inner ul li a{
    font-size: 30px;
    text-transform: capitalize;
    color: var(--blue-dark);
    display: block;
    font-weight: 500;
    padding: 8px 15px;
    transition: color 0.3s ease;
}


.header .nav-inner ul li a:hover{
    color: var(--main-color);
}



/* Home Section  */

.home-section{
  
    padding: 120px 0px;
    margin-bottom:50px;
}

.home-section.active{
    display: flex;
}



.home-text,
.home-img{
    width: 50%;
    padding: 15px;
}

.home-text p{
    font-size: 18px;
}
.home-text h1{
    font-size: 50px;
    text-transform: capitalize;
}
.home-text h2{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
}

.home-text .btn{
    margin: 0 15px 15px 0;
}

.home-img .img-box{
    max-width: 360px;
    background-color: var(--white-alpha-25);
    border-radius: 50%;
    border: 8px solid var(--white-alpha-25);
    margin: auto;
}
.home-img .img-box img{
    width: 100%;
    border-radius:50% ;
    
}




/* About Section  */

 .about-img{
    width: 40%;
    padding: 0 15px;

}
 .about-text{
    width: 60%;
    padding: 0 15px;
 }

 .about-img .img-box{
    background-color: var(--white-alpha-25);
    max-width: 380px;
    border: 1px solid var(--white-alpha-40);
    margin: auto;
    border-radius: 10px;
 }

 .about-img .img-box img{
    width: 100%;
}

.about-text h3{
    text-transform: capitalize;
    font-size: 20px;
    margin: 20px 0;
}

.about-text .skills{
    display: flex;
    flex-wrap: wrap;
}

.about-text .skill-item{
    background-color:var(--white-alpha-25) ;
    border: 1px solid var(--white-alpha-40);
    padding: 5px 15px;
    text-transform: capitalize;
    margin: 0px 10px 10px 0px;
    border-radius: 20px;
}

.about-tabs{
    margin-top: 20px;
}

.about-tabs .tab-item{
    padding: 2px 0;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    display: inline-block;
    color: var(--blue-dark);
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin: 0 30px 0 0;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.about-tabs .tab-item:last-child{
    margin: 0;
}

.about-tabs .tab-item::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: var(--blue-dark);
    transition: width 0.3s ease;
}

.about-tabs .tab-item:hover::before{
    width: 100%;
}

.about-tabs .tab-item.active::before{
    width: 100%;
    background-color: var(--main-color);
}

.about-tabs .tab-item.active{
    color: var(--main-color);
    opacity: 1;
    cursor: auto;
}
.about-text .timeline{
    position:relative;
}
.about-text .timeline::before{
    content: '';
    position: absolute;
    top: 0;
    left: 5px;
    height: 100%;
    width: 1px;
    background-color: var(--main-color);
}

.about-text .tab-content{
    padding: 40px 0;
    display: none;
}
.about-text .tab-content.active{
    display: block; 
}

.about-text .timeline-item{
    margin-bottom: 30px;
    position: relative;
    padding: 10px 0 0 40px;
}

.about-text .timeline-item::before{
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    background-color: var(--main-color);
    left: 0;
    top: 16px;
    border-radius: 50%;
}

.about-text .timeline-item:last-child{
    margin-bottom: 0px;
}


.about-text .timeline-item .date{
    display: block;
    color: var(--main-color);
    font-weight: 400;
    margin: 0 0 10px;
}
.about-text .timeline-item h4{
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 10px;
}


.about-text .timeline-item h4 span{
    font-weight: 400;
}

.about-text .btn{
    margin: 0 15px 15px 0;
}




/* Portfolio Section  */

.portfolio-section{
    padding-bottom:50px ;
}

.portfolio-item{
    width: calc((100% / 3 ) - 30px);
    margin: 0 15px 30px;
}

.portfolio-item-thumbnail{
    padding: 10px;
    background-color:var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius:10px ;
}

.portfolio-item-thumbnail img{
    width: 100%;
    border-radius:10px ;
}

.portfolio-item h3{
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0;
}



/* Contact Section  */


.contact-form,
.contact-info{
    width: 50%;
    padding: 0 15px;
}

.contact-form .input-group{
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}


.contact-form .input-control::placeholder{
    color: var(--blue-dark);
    font-weight: 300;
    opacity: 0.8;
}

.contact-form .input-control{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    font-family: inherit;
    background-color: var(--white-alpha-25);
    padding: 0 20px;
    color: var(--blue-dark);
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
}

.contact-form .input-control:focus{
    border-color:var(--white-alpha-25) ;
}


.contact-form textarea.input-control{
    height: 120px;
    resize: none;
    padding: 15px;
}


.contact-info-item{
    margin: 0 0 30px;
    padding: 0 0 0 20px;
}


.contact-info-item h3{
   font-size: 20px;
   text-transform: capitalize;
   margin: 0 0 5px;
}


.contact-info-item .social-links a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid var(--white-alpha-40);
    background-color: var(--white-alpha-25);
    color: var(--main-color);
    border-radius: 50%;
    margin: 6px 4px 0;
    transition: all 0.3s ease;
}

.contact-info-item .social-links a:hover{
    color: var(--white);
    background-color: var(--main-color);
}





/* Service Section  */


.service-section{
    padding-bottom:50px ;
}

.service-item{
    width: calc((100% / 3 ) - 30px);
    margin: 0 15px 30px;
}

.service-item-card{
    padding: 40px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: all 0.3s;
}
.service-item-card:hover{
    background-color: var(--main-color);
    border: 1px solid var(--white-alpha-40);
    color: white;
    cursor: pointer;

}

.service-item-card a{
    color: #6b6b6b;
    transition: color 0.3s;
}

.service-item-card:hover a{
    color: #d1d1d1;
}

.service-item-card .service-icon{
    font-size: 35px;
}


.service-item-card h3{
    font-size: 20px;
    text-transform: capitalize;
    margin: 10px 0;
}





/* Skills Section  */

.skills{
    width: 50%;
    max-width: 600px;
    padding: 0 20px;
}


.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar{
    height: 10px;
    background-color:var(--white-alpha-40);
    border-radius: 20px;
    border: 1px solid var(--white-alpha-25);
}

.skill-per{
    height: 8px;
    /* background-color: var(--main-color); */
    background:linear-gradient(30deg,var(--cyan-light),var(--main-color));
    position: relative;
    border-radius: 20px 0 0 20px;
    animation: fillBars 2.5s 1;
}


.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}


.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f1f1f1;
    top: -15px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}







@media(max-width:991px){
    .container{
        padding: 0;
    }
    .home-text,
    .home-img{
        width: 100%;
    }
    .home-text{
        text-align: center;
    }
    .home-img{
        order: -1;
    }
    .home-img .img-box{
        max-width: 300px;
    }
    .home-text .btn{
        margin: 0 7px 15px;
    }
    .portfolio-item{
        width: calc(50% - 30px);
    }
    .service-item{
        width: calc(50% - 30px);
    }
}

@media(max-width:767px){
    .contact-form,
    .contact-info,
    .about-img,
    .about-text{
        width: 100%;
    }

    .about-text{
        margin-top: 30px;
    }

    .portfolio-item{
        width: calc(100% - 30px);
    }
    .service-item{
        width: calc(100% - 30px);
    }
    .contact-info{
        order: -1;
        margin-bottom: 15px;
    }

    .skills{
        width: 100%;
    }
}

@media(max-width:575px){
    .section-title h2,
    .header .nav-inner ul li a{
        font-size: 30px;
    }
    .home-text h1{
        font-size: 30px;
    }
    .home-text h2{
        font-size: 18px;
    }
}

